#banner
	.banner_content
		%h1 NoteBook
		%p Preserve Your Thoughts.
		%button= link_to "Sign Up",new_user_registration_path
#testimonial
	.wrapper
		%p.quote "Best Utility Services"
		%p.name -BelieveC

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-pencil
				%h2 Notes
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

			.callout
				%i.fa.fa-rocket
				%h2 Rocket
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

			.callout
				%i.fa.fa-bolt
				%h2 Lighting
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.
#bottom_cta
	.wrapper
		%h2 For Realz!
		%p I want you to sign up... If you don’t. I will find you!
		%button= link_to "Click Meee!!!", new_user_registration_path

%footer
	%p &copy; BelieveC